<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Get Board</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<style>
body {
	background-color: #333;
}

.navbar {
	width: 80%;
	border-radius: 15px;
}

.footer {
	background-color: #333;
	padding: 10%;
	color: white;
	text-align: center;
}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto">
		<div class="container-fluid">
			<a class="navbar-brand" href="start"><img alt="logo"
				src="/images/banner.png"></a>
			<div class="navbar-nav ml-auto d-flex flex-row">
				<div th:if="${session.member != null}" class="d-flex flex-row">
					<a class="nav-link"
						th:href="@{/updateMember(id=${session.member.id})}"> <font
						class="bg bg-success" th:text="${session.member.name} + '님'"></font>
					</a> <a class="nav-link" href="logout" onclick="confirmLogout()">로그아웃</a>
					<a class="nav-link" href="getBoardList">게시판</a>
				</div>
				<div th:if="${session.member == null}" class="d-flex flex-row">
					<a class="nav-link" href="login">로그인</a> <a class="nav-link"
						href="insertMember">회원가입</a>
				</div>
			</div>
		</div>
	</nav>

	<div class="container" align="center">
		<div class="mt-4 p-5  text-white rounded" style="background: linear-gradient(114deg, #398cfa 0, #0bbf83 100%);">
			<h3>상세보기</h3>
		</div>
	</div>

	<div class="container mt-3" align="center">
		<form th:action="@{/updateBoard}" method="post">
			<input name="seq" type="hidden" th:value="${board.seq}">
			<div class="input-group mb-3">
				<span class="input-group-text" id="desc_title"><i
					class="fas fa-address-book"></i></span> <input type="text"
					class="form-control" name="title" th:value="${board.title}">
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="desc_title"><i
					class="fas fa-user"></i></span> <input type="text" class="form-control"
					name="writer" th:value="${board.writer}" disabled>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="desc_title"><i
					class="fas fa-clipboard-list"></i></span> <input type="text"
					class="form-control" name="category" th:value="${board.category}"
					disabled>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text"><i class="fas fa-clipboard"></i></span>
				<textarea class="form-control" th:text="${board.content}"
					name="content" rows="15"></textarea>
			</div>

			<!-- 관리자 로그인 시 관리자 답변 작성란과 버튼 표시 -->
			<div th:if="${session.member.role == 'ADMIN'}">
				<div class="input-group mb-3">
					<span class="input-group-text">관리자 답변</span>
					<textarea class="form-control" th:text="${board.adminReply}"
						name="adminReply" rows="3"></textarea>
					<button class="btn btn-success mt-7" type="submit">답변 작성</button>
				</div>
			</div>

			<!-- 일반 사용자 로그인 시 관리자 답변만 표시 -->
			<div th:if="${session.member.role != 'ADMIN'}">
				<div class="input-group mb-3">
					<span class="input-group-text">관리자 답변</span>
					<textarea class="form-control" th:text="${board.adminReply}"
						name="adminReply" rows="3" readonly></textarea>
				</div>
			</div>

			<!-- 파일 다운로드 -->
			<div class="input-group mb-3">
				<span class="input-group-text" id="desc_title"> <i
					class="fas fa-file"></i>
				</span> <a href="@{/download(fn=${board.fileName})}"
					class="badge bg-info" th:text="${board.fileName}">첨부파일</a>
			</div>




			<div class="input-group mb-3">
				<span class="input-group-text" id="desc_title"><i
					class="fas fa-calendar"></i></span> <input type="date"
					class="form-control" name="createdate"
					th:value="${#dates.format(board.createDate, 'yyyy-MM-dd')}">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text" id="desc_title"><i
					class="fas fa-hashtag"></i></span> <input type="text" class="form-control"
					name="cnt" th:value="${board.cnt}" disabled>
			</div>

			<div class="container" align="center">
				<input type="submit" class="btn btn-success mt-3" value="게시글수정" />
				<a th:href="@{/insertBoard}" class="btn btn-success mt-3">게시글등록</a>
				<a
					th:classappend="${session['member'].role != 'ADMIN' ? 'disabled' : ''}"
					th:href="@{/deleteBoard(seq=${board.seq})}"
					class="btn btn-success mt-3">게시글삭제</a> <a th:href="@{getBoardList}"
					class="btn btn-success mt-3">게시글목록</a>
			</div>
		</form>

		<div th:if="${board.replyStatus == '답변완료'}">
			<div class="alert alert-success mt-3" role="alert">답변 완료</div>
		</div>
	</div>


	<footer class="footer">
		<p>&copy; 2023 프로젝트. All rights reserved.</p>
	</footer>
</body>
</html>
