<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Spring Boot</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" 
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" 
		crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container" align="center">
		<div class="mt-4 p-5 bg-primary text-white rounded">
			<h3>게시판목록</h3>
			<p><font color="red" th:text="${session.member.name}"></font>님 게시판 입장을 환영합니다.</p>
		</div> 
		  
   		<div class="row mt-3 justify-content-center">
			<div class="col-4 btn-group"> 		
		    	<a th:href="@{/insertBoard}" class="col-1 btn btn-primary me-2">게시판등록</a>
				<a th:href="@{/logout}" class="col-1 btn btn-primary">logout</a>
        	</div>
		</div>
		
		<div class="container mt-3">		
			<div class="row mt-4">
				<table class="table table-hover table-bordered">
					<thead class="table-dark text-center">
						<th scope="col" class="col-1 text-center">글번호</th>
						<th scope="col" class="col-6">제목</th>
						<th scope="col" class="col-1 text-center">작성자</th>
						<th scope="col" class="col-1 text-center">등록일</th>
						<th scope="col" class="col-1 text-center">조회수</th>			
						<th scope="col" class="col text-center">파일</th>							
					</thead>
					<tbody>
						<tr th:each="board, state : ${boardList}">
							<!-- <td th:text="${state.count}"> -->
							<td th:text="${board.seq}"></td>
							<td><a th:href="@{/getBoard(seq=${board.seq})}" th:text="${board.title}"></a></td>
							<td th:text="${board.writer}"></td>
							<td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd')}">
							<td th:text="${board.cnt}"></td>
							<td></td>
						</tr>													
					</tbody>
				</table>
			</div>	
		</div> <!-- 게시판 -->		
		
</body>
</html>		