<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<style>
body {
	background-color: #333;
}

.navbar {
	width: 80%;
	border-radius: 15px;
	margin: 0 auto;
}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="start"><img alt="logo"
				src="/images/banner.png"></a>
			<div class="navbar-nav ml-auto d-flex flex-row">
				<div th:if="${session.member != null}" class="d-flex flex-row">
					<a class="nav-link"
						th:href="@{/updateMember(id=${session.member.id})}"> <font
						class="bg bg-success" th:text="${session.member.name} + '님'"></font>
					</a> <a class="nav-link" href="logout" onclick="logout()">로그아웃</a> <a
						class="nav-link" href="getBoardList">게시판</a>
				</div>
				<div th:if="${session.member == null}" class="d-flex flex-row">
					<a class="nav-link" href="login" onclick="login()">로그인</a> <a
						class="nav-link" href="insertMember">회원가입</a>
				</div>
			</div>
		</div>
	</nav>


	<div class="container" align="center">
		<div class="mt-4 p-5  text-white rounded" style="background:linear-gradient(114deg, #398cfa 0, #0bbf83 100%);">
			<h3>🌟🌟 사용자목록 🌟🌟</h3>
			<h5>
				<font clsss="bg bg-danger"
					th:text="|${session['member'].name}(${session.member.id})|"></font>님
				로그인중
			</h5>
		</div>
		<!-- 		
 		<p th:text="${session.member.toString()}"></p>
		<p th:text="${pagedResult.getContent()}"></p> 
		<p th:text="${pagingInfo}"></p> 
-->

		<form action="getMemberList" method="get" id="memberForm">
			<input type="hidden" id="curPage" name="curPage" th:value="0">
			<input type="hidden" id="rowSizePerPage" name="rowSizePerPage"
				th:value="${rp}">
			<div class="row mt-3 justify-content-center">
				<div class="col-auto me-1">
					<label class="input-group-text bg-dark" style="color: white;"
						th:text="|${pageable.getPageNumber()*pageable.getPageSize()+1} of ${pagedResult.getTotalElements()}|"></label>
				</div>
				<div class="col-auto me-1">
					<select class="form-select bg-dark" style="color: white;" id="searchType" name="searchType">
						<option value="">검색</option>
						<option value="name" th:selected="${st}=='name'">사용자명</option>
						<option value="id" th:selected="${st}=='id'">아이디</option>
					</select>
				</div>
				<div class="col-3 me-1">
					<input class="form-control me-2 bg-dark" style="color: white;" name="searchWord" type="text"
						placeholder="input search keyword..." />
				</div>
				<div class="col-5 btn-group">
					<input type="reset" id="btnReset"
						class="col-1 btn btn-success me-2" value="초기화"> <input
						type="submit" class="col-1 btn btn-success me-2" value="검색">
					<a href="insertMember" class="col-1 btn btn-success me-2">사용자등록</a>
					<a href="logout" class="col-1 btn btn-danger">로그아웃</a>
				</div>
			</div>
		</form>
		<!-- getMemberList -->

		<div class="container mt-3">
			<div class="row mt-4">
				<table class="table table-hover table-bordered table-dark <table-striped></table-striped>">
					<thead class="table-dark text-center">
						<th>NO</th>
						<th>아이디</th>
						<th>이름</th>
						<th>회원등급</th>
						<th>삭제</th>
					</thead>
					<tbody>
						<tr th:each="member, state : ${pagedResult.getContent()}">
							<td th:text="${state.count + (cp * ps)}"
								style="color: white; text-align: center;"></td>
							<td><a th:href="@{/updateMember(id=${member.id})}" style="color: white;"
								th:text="${member.id}" ></a></td>
							<td th:text="${member.name}"
								style="color: white; text-align: center;"></td>
							<td th:text="${member.role}"
								style="color: white; text-align: center;"></td>
							<td align="center"><a
								th:href="@{/deleteMember(id=${member.id})}"
								class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- 게시판 -->

		<div class="row align-items-start mt-3">
			<div class="col-auto me-2">
				<a th:if="${session['member'].role == 'ADMIN'}"
					th:href="@{/getBoardList}" class="btn btn-warning mt-3">게시글목록</a>
			</div>

			<ul class="col pagination justify-content-center">
				<th:block th:if="${sp != 1 }">
					<li class="page-item"><a
						th:href="@{/getMemberList(curPage=0, searchType=${st}, rowSizePerPage=${rp}, searchWord=${sw})}"
						class="page-link"><i class="fas fa-fast-backward"></i></a></li>
					<li class="page-item"><a
						th:href="@{/getMemberList(curPage=${sp-ps}, searchType=${st}, rowSizePerPage=${rp}, searchWord=${sw})}"
						class="page-link"><i class="fas fa-backward"></i></a></li>
				</th:block>

				<th:block
					th:each="page : ${#numbers.sequence(pagingInfo.getStartPage(), pagingInfo.getEndPage())}">
					<li class="page-item"
						th:classappend="${(page-1)==pagingInfo.getCurPage() ? 'active' : ''}"><a
						class="page-link"
						th:href="@{/getMemberList(curPage=${page-1}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}"
						th:text="${page}"></a></li>
				</th:block>


				<th:block th:if="${ ep lt tp }">
					<li class="page-item"><a
						th:href="@{/getMemberList(curPage=${ep}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}"
						class="page-link"><i class="fas fa-forward"></i></a></li>
					<li class="page-item"><a
						th:href="@{/getMemberList(curPage=${tp-1}, rowSizePerPage=${rp}, searchType=${st}, searchWord=${sw})}"
						class="page-link"><i class="fas fa-fast-forward"></i></a></li>
				</th:block>
			</ul>
			<!-- pagination -->

			<div class="col-auto me-1">
				<div class="input-group mb-3">
					<span class="input-group-text bg-dark" style="color: white;"><i class="fas fa-list"></i></span> <select
						class="col-auto form-select bg-dark" style="color: white;" id="rowPerPage" name="rowPerPage">
						<th:block th:each="num : ${#numbers.sequence(10, 50, 10)}">
							<option th:value="${num}" th:text="${num}"
								th:attr="selected=${rp==num ? 'true' : 'false'}"></option>
						</th:block>
					</select>
				</div>
			</div>
			<!-- rowSizePerPage -->
		</div>
		<!-- 페이징 -->

	</div>
	<!-- main  -->

	<script>
		$(function() {
			
			// 목록 갯수 변경
			$('#rowPerPage').change(function(e) {
				$('#curPage').val(0);
				$('#rowSizePerPage').val($(this).val());
				$('#memberForm').submit();
			});	//#rowPerPage
			
			// 초기화 버튼 클릭
			$('#btnReset').click(function() {
				$('#curPage').val(0);
				$('#memberForm').find("select[name='searchType'] option:eq(0)").attr("selected", "selected");
				$('#memberForm').find("input[name='searchWord']").val("");
				$('#memberForm').submit();
			}); // #id_btn_reset.click			
		})
	</script>

	

</body>
</html>