<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<style>
body {
	background-color: #333;
}

.navbar {
	width: 80%;
	border-radius: 15px;
}
</style>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto">
		<div class="container-fluid">
			<a class="navbar-brand" href="start"><img alt="logo"
				src="/images/banner.png"></a>
			<div class="navbar-nav ml-auto d-flex flex-row">
				<div th:if="${session.member != null}" class="d-flex flex-row">
					<a class="nav-link"
						th:href="@{/updateMember(id=${session.member.id})}"> <font
						class="bg bg-success" th:text="${session.member.name} + '님'"></font>
					</a> <a class="nav-link" href="logout" onclick="confirmLogout()">로그아웃</a>
					<a class="nav-link" href="getBoardList">건의사항</a>
				</div>
				<div th:if="${session.member == null}" class="d-flex flex-row">
					<a class="nav-link" href="login">로그인</a> <a class="nav-link"
						href="insertMember">회원가입</a>
				</div>
			</div>
		</div>
	</nav>


	<div class="container" align="center">
		<div class="mt-4 p-5 text-white rounded"
			style="background: linear-gradient(114deg, #398cfa 0, #0bbf83 100%);">
			<h3>회원가입</h3>
		</div>
	</div>


	<!--  
 	<p th:text="${member.toString()}"></p>
-->

	<div class="container mt-5 col-4 justify-content-center">
		<form action="insertMember" method="post">

			<div class="modal-content">
				<div class="modal-header text-white"
					style="background: linear-gradient(114deg, #398cfa 0, #0bbf83 100%);">
					<h1 class="motal-title fs-5" id="staticBackdropLabel">회원가입</h1>
				</div>
				<!-- modal-header -->

				<div class="modal-body">
					<div class="input-group mb-3">
						<div class="input-group-text">
							<i class="fas fa-user"></i>
						</div>
						<input type="text" id="user-id" name="id" class="form-control"
							value="" required placeholder="아이디">
						<button type="button" id="check-id" class="btn btn-success"
							data-bs-toggle="tooltip" data-bs-placement="right" title="">아이디
							중복 확인</button>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-text">
							<i class="fas fa-lock"></i>
						</div>
						<input type="password" name="password" class="form-control"
							value="" required placeholder="비밀번호">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-text">
							<i class="fas fa-address-book"></i>
						</div>
						<input type="text" name="name" class="form-control" value=""
							required placeholder="이름">
					</div>
				</div>

				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">가입하기</button>
				</div>
			</div>
		</form>
	</div>
	<script>
		var tooltipTriggerList = [].slice.call(document
				.querySelectorAll('[data-bs-toggle="tooltip"]'))
		var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
			return new bootstrap.Tooltip(tooltipTriggerEl)
		})
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("check-id").addEventListener(
					"click",
					function() {
						var id = document.getElementById("user-id").value;
						var tooltipEl = document.getElementById('check-id');
						var tooltip = bootstrap.Tooltip.getInstance(tooltipEl);
						if (id === "") {
							tooltipEl.setAttribute("data-bs-original-title",
									"아이디를 입력해주세요.");
							tooltip.show();
							return;
						}
						// Ajax 요청
						var xhttp = new XMLHttpRequest();
						xhttp.onreadystatechange = function() {
							if (this.responseText === "true") {
								tooltipEl.setAttribute(
										"data-bs-original-title",
										"이미 사용중인 아이디입니다.");
							} else {
								tooltipEl.setAttribute(
										"data-bs-original-title",
										"사용 가능한 아이디입니다.");
							}
							tooltip.show();

						};
						xhttp.open("GET", "/checkId?id=" + id, true);
						xhttp.send();
					});
		});
	</script>


</body>
</html>
