<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Update Member</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<style>
body {
	background-color: #333;
}

.navbar {
	width: 80%;
	border-radius: 15px;
}
</style>
</head>
<body data-role="${session['member'].role}">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto">
		<div class="container-fluid">
			<a class="navbar-brand" href="start"><img alt="logo"
				src="/images/banner.png"></a>
			<div class="navbar-nav ml-auto d-flex flex-row">
				<div th:if="${session.member != null}" class="d-flex flex-row">
					<a class="nav-link"
						th:href="@{/updateMember(id=${session.member.id})}"> <font
						class="bg bg-success" th:text="${session.member.name} + '님'"></font>
					</a> <a class="nav-link" href="logout" onclick="confirmLogout()">로그아웃</a>
					<a class="nav-link" href="getBoardList">게시판</a>
				</div>
				<div th:if="${session.member == null}" class="d-flex flex-row">
					<a class="nav-link" href="login">로그인</a> <a class="nav-link"
						href="insertMember">회원가입</a>
				</div>
			</div>
		</div>
	</nav>
	<div class="container" align="center">
		<div class="mt-4 p-5  text-white rounded"
			style="background: linear-gradient(114deg, #398cfa 0, #0bbf83 100%);">
			<h3>⚙개인정보수정⚙</h3>
			<h5>
				<font class="bg"
					th:text="|${session['member'].name}(${session.member.id})|"></font>님
				로그인중
			</h5>
		</div>
	</div>

	<div class="container col-3 mt-4">
		<form th:action="@{/updateMember}" method="post"
			onsubmit="handleUpdate(event)">
			<input type="hidden" name="id" class="form-control"
				th:value="${ member.id }">
			<div class="col-2 input-group mb-3">
				<div class="input-group-text">
					<i class="fas fa-user"></i>
				</div>
				<input type="text" class="form-control" th:value="${ member.id }"
					disabled>
			</div>
			<div class="col-2 input-group mb-3">
				<div class="input-group-text">
					<i class="fas fa-lock"></i>
				</div>
				<input type="password" name="password" class="form-control"
					th:value="${ member.password}">
			</div>
			<div class="col-2 input-group mb-3">
				<div class="input-group-text">
					<i class="fas fa-address-book"></i>
				</div>
				<input type="text" name="name" class="form-control"
					th:value="${ member.name }">
			</div>


			<div class="container" align="center">
				<a href="logout" class="btn btn-danger mt-3">로그아웃</a> <input
					type="submit" class="btn btn-primary mt-3"
					onclick="return handleUpdate()" value="수정하기" /> <a
					th:if="${session['member'].role == 'ADMIN'} and ${session.pagingInfo != null}"
					th:href="@{/deleteMember(id=${member.id}, 
                    curPage=${session.pagingInfo.curPage},  
                    rowSizePerPage=${session.pagingInfo.rowSizePerPage}, 
                    searchType=${session.pagingInfo.searchType}, 
                    searchWord=${session.pagingInfo.searchWord})}"
					class="btn btn-primary mt-3">사용자삭제</a> <a
					th:if="${session['member'].role == 'ADMIN'} and ${session.pagingInfo != null}"
					th:href="getMemberList" class="btn btn-primary mt-3">사용자목록</a>
			</div>
		</form>
	</div>
	<script type="text/javascript">
		function handleUpdate(event) {
			event.preventDefault(); // form의 기본 제출 동작 중지

			var userRole = document.body.getAttribute('data-role');
			var userId = document.querySelector('input[name="id"]').value;
			var userPassword = document.querySelector('input[name="password"]').value;
			var userName = document.querySelector('input[name="name"]').value;

			if (userRole != 'ADMIN') {
				// 일반 사용자인 경우
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/updateMember", true);
				xhr.setRequestHeader("Content-Type",
						"application/x-www-form-urlencoded");

				xhr.onreadystatechange = function() {
					if (xhr.readyState === 4 && xhr.status === 200) {
						alert("정보가 수정되었습니다. 재로그인 해주세요.");
						logoutUser(); // 로그아웃 함수를 호출.
					}
				};
				xhr.send("id=" + userId + "&password=" + userPassword
						+ "&name=" + userName);
			} else {
				// 관리자인 경우
				event.target.submit(); // form 제출 계속
			}
		}

		function logoutUser() {
			var xhr = new XMLHttpRequest();
			xhr.open("GET", "/logout", true);
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					window.location.href = "start";
				}
			};
			xhr.send();
		}
	</script>

</body>
</html>
