<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Reaction Speed Test</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #333;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#testBox {
	width: 100%;
	height: 300px;
	background-color: #08b6ff;
	position: relative;
	border-radius: 20px;
}

#testBox p {
	font-size: 20px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

#rankTable {
	margin-top: 1px;
	width: auto;
}

.table-bordered tbody tr td, .table-bordered thead tr th {
	border: 1px solid #dee2e6;
	padding: 8px;
	vertical-align: middle;
}

.table-bordered tbody tr td, .table-bordered thead tr th {
	color: #f8f9fa;
	border: 1px solid #dee2e6;
	padding: 8px;
	vertical-align: middle;
	text-align: center;
}

.table-bordered .rank-column {
	width: 60px;
	text-align: center;
}

.table-bordered .name-column {
	width: 150px;
	text-align: center;
}

.table-bordered .reaction-time-column {
	width: 150px;
	text-align: center;
}

.table-bordered .date-column {
	width: 300px;
	text-align: center;
}

.navbar {
	width: 80%;
	border-radius: 15px;
}

.attemptCount {
	color: white;
	margin-left: 5px;
	font-weight: bold;
}

.chart-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}

.chart-wrapper table {
	width: 30%;
	margin: 10px;
}

@media ( max-width : 768px) {
	.chart-wrapper table {
		width: 100%;
	}
}

.social-icons {
	position: fixed;
	left: 0;
	top: 40%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social-icon {
	margin: 1px 0;
	transition: transform 0.3s, box-shadow 0.3s;
}

.social-icon:hover {
	transform: scale(1.2);
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.logocontainer {
	align-items: center;
	height: 100%;
	margin-top: 100px;
	display: flex;
	justify-content: flex-end;
}

.goimages {
	position: fixed;
	right: 0;
	top: 40%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	opacity: 0;
	transition: opacity 1.5s;
}

.goimages.show {
	opacity: 1;
}

.goimages .goimage-container {
	position: relative;
	overflow: hidden;
}

.goimages .goimage {
	margin: 1px 0;
	transition: transform 0.3s, opacity 0.3s;
	transform: translateX(0);
}

.goimages .goimage-container:hover .goimage {
	transform: translateX(100%);
}

.goimages .hover-text {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%) translateX(100%);
	font-size: 20px;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	transition: transform 0.3s;
	text-align: center;
}

.goimages .goimage-container:hover .hover-text {
	transform: translateY(-50%) translateX(0);
}

.footer {
	background-color: #333;
	padding: 10%;
	color: white;
	text-align: center;
}
</style>
<!-- 사용자가 시작 버튼을 누르면, startTest 함수가 호출되고 카운트다운이 시작.
카운트다운이 끝나면, 테스트 상자의 배경 색상이 초록색으로 바뀌고, handleBoxClick 함수가 상자에 대한 클릭 이벤트를 처리하도록 설정. 
사용자에게 신호를 줌.
사용자가 상자를 클릭하면, handleBoxClick 함수가 호출되고,
그 시점의 시간이 endTime 변수에 기록.
그런 다음 startTime (초록색으로 바뀌는 순간 기록된 시간)과 endTime 사이의 차이가 계산되어 반응 시간으로 사용.
사용자가 상자를 세 번 클릭할 때까지 이 과정이 반복되고, 각 반응 시간이 attempts 배열에 저장.
모든 클릭이 완료되면, attempts 배열의 모든 값의 평균이 계산되어 평균 반응 시간으로 사용. -->
<script type="text/javascript">
	let startTime;
	let endTime;
	let attempts = [];

	function startTest() {
	    let name = document.getElementById('nameInput').value;
	    if (!name) {
	       /*  alert('이름을 입력해주세요.'); */
	        return;
	    }else{
	    	let testBox = document.getElementById('testBox');
	    	testBox.innerHTML = "<p id='countdown'>😊간단한 이름을 넣고 시작하기 버튼을 누르면 시작됩니다😊<br>총 3회 진행됩니다.</p>";

	    	
	    }

	    let box = document.getElementById('testBox');
		/* 카운트다운 */
	    box.innerHTML = "<p id='countdown'>3</p>";
	    box.style.backgroundColor = '#08b6ff';
	    attemptCount = 0;
	    setTimeout(function() {
	        box.innerHTML = "<p id='countdown'>2</p>";
	        setTimeout(function() {
	            box.innerHTML = "<p id='countdown'>1</p>";
	            setTimeout(function() {
	                box.innerHTML = "<p id='countdown'>초록색으로 바뀌면 클릭하세요..</p>";
	                setTimeout(function() {
	                    box.style.backgroundColor = 'green';
	                    box.innerHTML = "<p id='countdown'>클릭!!</p>";
	                    startTime = new Date();
	                    box.addEventListener('click', handleBoxClick);
	                }, Math.floor(Math.random() * 4000) + 2000);
	            }, 1000);
	        }, 1000);
	    }, 1000);
	}

	function submitTest() {
		let name = document.getElementById('nameInput').value;
		let average = document.getElementById('rankAverage').value;
		/* if (!name) {
			alert('이름을 입력해주세요.');
			return;
		} */

		if (!average) {
			alert('테스트를 먼저 진행해주세요 😊.');
			return;
		}

		let confirmSubmit = confirm('기록을 제출하시겠습니까?');
		if (confirmSubmit) {
			let result = {
				name: name,
				averageReactionTime: parseFloat(average),
				testDateTime: new Date()
			};
			
			let submitBtn = document.getElementById('submitBtn');
			submitBtn.disabled = true; // 버튼 비활성화
			
			fetch('/result', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(result)
			})
			  .then(response => response.json())
   			  .then(data => {
        alert('기록이 제출되었습니다😊.');
        submitBtn.disabled = true; // 제출 완료 후 버튼 비활성화
    })
    
			.catch(error => {
				console.error('Error:', error);
				alert('기록 제출에 실패했습니다😢😢.');
				submitBtn.disabled = false; // 실패 시 버튼 다시 활성화
			});
		}
		let testBox = document.getElementById('testBox');
		testBox.innerHTML = "<p id='countdown'>평균 반응 속도: " + average + "   🐢🐢🐢🐢</p>";

	}
</script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="start"><img alt="logo"
				src="/images/banner.png"></a>
			<div class="navbar-nav ml-auto d-flex flex-row">
				<div th:if="${session.member != null}" class="d-flex flex-row">
					<a class="nav-link"
						th:href="@{/updateMember(id=${session.member.id})}"> <font
						class="bg bg-success" th:text="${session.member.name} + '님'"></font>
					</a> <a class="nav-link" href="logout" onclick="logout()">로그아웃</a> <a
						class="nav-link" href="getBoardList">게시판</a>
				</div>
				<div th:if="${session.member == null}" class="d-flex flex-row">
					<a class="nav-link" href="login" onclick="login()">로그인</a> <a
						class="nav-link" href="insertMember">회원가입</a>
				</div>
			</div>
		</div>
	</nav>

	<div class=" logocontainer social-icons">
		<div class="social-icons">
			<a href="https://twitter.com/your-share-url" target="_blank"> <img
				src="/images/twitter.png" alt="Twitter" class="social-icon">
			</a> <a href="https://www.facebook.com/your-share-url" target="_blank">
				<img src="/images/facebook.png" alt="Facebook" class="social-icon">
			</a> <a href="https://www.instagram.com/your-share-url" target="_blank">
				<img src="/images/instagram.png" alt="Instagram" class="social-icon">
			</a> <a href="https://discord.com/" target="_blank"> <img
				src="/images/discord.png" alt="Naver" class="social-icon">
			</a> <a href="https://www.reddit.com/your-share-url" target="_blank">
				<img src="/images/reddit.png" alt="Reddit" class="social-icon">
			</a> <a href="https://www.tiktok.com/your-share-url" target="_blank">
				<img src="/images/tiktok.png" alt="TikTok" class="social-icon">
			</a>
		</div>
	</div>


	<div class="container">

		<div id="testBox" onclick="handleBoxClick()" class="mt-5">
			<p id="countdown"></p>
		</div>

		<table class="table table-bordered table mt-5" style="width: 60%">
			<thead class="table-dark text-center">
				<tr>
					<th class="col-4 col-md-2 text-center">시도</th>
					<th class="col-8 col-md-10">결과</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="bg-dark text-light" align="center">첫번째 시도</td>
					<td><input type="text" id="rankAttempt1" readonly
						th:value="${attempt1}" class="form-control"></td>
				</tr>
				<tr>
					<td class="bg-dark text-light" align="center">두번째 시도</td>
					<td><input type="text" id="rankAttempt2" readonly
						th:value="${attempt2}" class="form-control"></td>
				</tr>
				<tr>
					<td class="bg-dark text-light" align="center">세번째 시도</td>
					<td><input type="text" id="rankAttempt3" readonly
						th:value="${attempt3}" class="form-control"></td>
				</tr>
				<tr>
					<td class="bg-dark text-light" align="center">평균속도</td>
					<td><input type="text" id="rankAverage" readonly
						th:value="${average}" class="form-control"></td>
				</tr>
				<tr>
					<td class="bg-dark text-light" align="center">이름</td>
					<td><input type="text" id="nameInput" th:value="${name}"
						class="form-control"></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<button id="startBtn" onclick="startTest()"
							class="btn btn-primary">시작하기</button>
						<button id="submitBtn" onclick="submitTest()"
							class="btn btn-secondary">제출하기</button>
						<button id="resetBtn" type="reset" class="btn btn-secondary"
							onclick="resetForm()">초기화</button>
					</td>
				</tr>
			</tbody>
		</table>

		<h2 th:text="${rankingTitle}" class="mt-5 text-light">랭킹</h2>
		<div id="ranking" class="mt-5">
			<table class="table table-bordered" id="rankTable">
				<thead>
					<tr>
						<th class="rank-column">순위</th>
						<th class="name-column">이름</th>
						<th class="reaction-time-column">평균반응속도</th>
						<th class="date-column">날짜</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="result, index : ${rankingList}">
						<td th:text="${index.index + 1}" class="rank-column"></td>
						<td th:text="${result.name}" class="name-column"></td>
						<td th:text="${result.averageReactionTime}"
							class="reaction-time-column"></td>
						<td
							th:text="${#temporals.format(result.testDateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<script>
	
	function resetForm() {
	    document.getElementById('rankAttempt1').value = '';
	    document.getElementById('rankAttempt2').value = '';
	    document.getElementById('rankAttempt3').value = '';
	    document.getElementById('rankAverage').value = '';
	    document.getElementById('nameInput').value = '';
	}

    let testStarted = false;
    
   document.getElementById('startBtn').addEventListener('click', function() {
        let name = document.getElementById('nameInput').value;
        if (name) {
            testStarted = true;
            startTest();
        } else {
            alert('이름을 입력한 후 시작하기를 눌러주세요!😡😡');
        }
    }); 
   function handleBoxClick() {
	    if (!testStarted) {
	        return;
	    }

	    let box = document.getElementById('testBox');
	    if (box.style.backgroundColor === 'green') {
	        // 초록색인 상자를 클릭한 경우
	        endTime = new Date();
	        let timeTaken = endTime - startTime;
	        attempts.push(timeTaken);
	        attemptCount++;
	        document.getElementById('rankAttempt' + attemptCount).value = timeTaken + 'ms';
	        if (attemptCount < 3) {
	            box.style.backgroundColor = '#08b6ff';
	            box.innerHTML = "<p id='countdown'>초록색으로 바뀌면 클릭하세요..</p>";
	            box.removeEventListener('click', handleBoxClick);
	            setTimeout(function() {
	                box.style.backgroundColor = 'green';
	                box.innerHTML = "<p id='countdown'>클릭!!</p>";
	                startTime = new Date();
	                box.addEventListener('click', handleBoxClick);
	            }, Math.floor(Math.random() * 3000) + 2000);
	        } else {
	            let sum = attempts.reduce((total, time) => total + time, 0);
	            let average = Math.floor(sum / attempts.length);
	            document.getElementById('rankAverage').value = average + 'ms';
	            alert('테스트가 종료되었습니다. 평균 반응속도는 ' + average + 'ms 입니다.');
	            testStarted = false;
	        }
	    } else {
	        // 초록색이 아닌 상자를 클릭한 경우
	        alert('💢💢 초록색일 때 클릭하세요 💢💢 \n\n 😃😃 페이지를 새로고침합니다 😃😃 ');
	        testStarted = false; // 게임 중단
	        location.reload(); // 페이지 새로고침
	    }
	}



	</script>
	<script>
		(function() {
			const pathname = window.location.pathname;
			if (pathname === '/test') {
				window.history.replaceState({}, '', '/testPage.html');
			}
		})();
	</script>
	<script>
	window.onload = function() {
	    let box = document.getElementById('testBox');
	    box.innerHTML = "<p id='countdown'>😊간단한 이름을 넣고 시작하기 버튼을 누르면 시작됩니다😊<br>총 3회 진행됩니다.</p>";


	    
	    
	    /*
	    fetch('/rank?n=10'): 이 부분은 서버에 HTTP 요청을 보낸다.
	    이 요청은 '/rank' 경로에 대한 GET 요청이며, 쿼리 파라미터 'n'이 '10'으로 설정되어있음.
	    이는 서버에 '상위 10개의 랭크 데이터를 보내주세요'라는 요청을 의미한다.
        then(response => response.json()): fetch 함수는 Promise를 반환한다.
        이 Promise는 응답 객체를 제공하며, response.json()을 사용하여 이 응답을 JSON 형태로 파싱한다.
        다음 then 문은 이 JSON 데이터를 가지고 동작한다.
        데이터는 개별 결과를 나타내는 객체의 배열 형태로 받아와진다.
        각 결과는 name, averageReactionTime, testDateTime 등의 정보를 담고 있다.
        각 결과에 대해, 새로운 테이블 행을 만들고, 그 행에 각각의 셀을 추가한다.
        각 셀에는 가져온 데이터가 삽입됨.
	    */
	    
	    // DB에서 랭킹 데이터를 가져오는 코드를 여기에 추가.
	    fetch('/rank?n=10')
	    .then(response => response.json())
	    .then(data => {
	        let rankTableBody = document.getElementById('rankTable').getElementsByTagName('tbody')[0];
	        
	        // 받아온 데이터로 테이블 행을 생성.
	        data.forEach((result, index) => {
	            let newRow = rankTableBody.insertRow();
	            
	            let rankCell = newRow.insertCell(0);
	            rankCell.innerText = index + 1;

	            let nameCell = newRow.insertCell(1);
	            nameCell.innerText = result.name;

	            let timeCell = newRow.insertCell(2);
	            timeCell.innerText = result.averageReactionTime;
	            
	            let dateCell = newRow.insertCell(3);
	            dateCell.innerText = result.testDateTime;
	            let testDateTime = new Date(result.testDateTime);
	            let formattedDate = testDateTime.getFullYear() + '-' + 
	                                ('0' + (testDateTime.getMonth() + 1)).slice(-2) + '-' + 
	                                ('0' + testDateTime.getDate()).slice(-2) + ' ' + 
	                                ('0' + testDateTime.getHours()).slice(-2) + ':' + 
	                                ('0' + testDateTime.getMinutes()).slice(-2) + ':' + 
	                                ('0' + testDateTime.getSeconds()).slice(-2);
	            dateCell.innerText = formattedDate;
	            
	            // 글자색 변경.
	            if (index % 2 === 0) {
	                newRow.style.color = 'white';  // 짝수 행은 파란색으로 변경
	            } else {
	                newRow.style.color = 'white';  // 홀수 행은 빨간색으로 변경
	            }
	        });
	    })
	    .catch(error => console.error('Error:', error));
	};

</script>
	<div class="goimages">
		<a href="start" class="goimage-container"> <img
			src="/images/gohome-001.png" alt="gohome" class="link-icon goimage">
			<span class="hover-text">홈으로</span>
		</a> <a href="apmTest" class="goimage-container"> <img
			src="/images/goapm-001.png" alt="goapm" class="link-icon goimage">
			<span class="hover-text">APM 테스트</span>
		</a> <a href="getBoardList" class="goimage-container"> <img
			src="/images/goboard-001.png" alt="goboard" class="link-icon goimage">
			<span class="hover-text">게시판</span>
		</a>
	</div>


	<div class="chart-wrapper">
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th scope="col">랭킹</th>
					<th scope="col">반응 속도(ms)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>🏅 Top 0.94%</td>
					<td>110-</td>
				</tr>
				<tr>
					<td>🥈 Top 2.12%</td>
					<td>110 ~ 120</td>
				</tr>
				<tr>
					<td>🥉 Top 3.62%</td>
					<td>120 ~ 130</td>
				</tr>
				<tr>
					<td>💪 Top 5.92%</td>
					<td>130 ~ 140</td>
				</tr>
				<tr>
					<td>👍 Top 9.47%</td>
					<td>140 ~ 150</td>
				</tr>
				<tr>
					<td>Top 14.80%</td>
					<td>150 ~ 160</td>
				</tr>
				<tr>
					<td>Top 22.05%</td>
					<td>160 ~ 190</td>
				</tr>
				<tr>
					<td>Top 30.70%</td>
					<td>190 ~ 250</td>
				</tr>
				<tr>
					<td>평균 이상</td>
					<td>250 ~ 270</td>
				</tr>
				<tr>
					<td>평균</td>
					<td>270 ~ 300</td>
				</tr>
				<tr>
					<td>평균 이하</td>
					<td>300 ~ 330</td>
				</tr>
				<tr>
					<td>하위 22.13%</td>
					<td>330 ~ 350</td>
				</tr>
				<tr>
					<td>하위 15.75%</td>
					<td>350 ~ 370</td>
				</tr>
				<tr>
					<td>하위 10.36%</td>
					<td>370 ~ 400</td>
				</tr>
				<tr>
					<td>하위 6.18%</td>
					<td>400 ~ 450</td>
				</tr>
				<tr>
					<td>하위 3.69%</td>
					<td>450+</td>
				</tr>
			</tbody>
		</table>



		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th scope="col">국가</th>
					<th scope="col">Top 30% 플레이어 RT(ms)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>ko 대한민국</td>
					<td>226</td>
				</tr>
				<tr>
					<td>🇺🇸 미국</td>
					<td>227</td>
				</tr>
				<tr>
					<td>🇩🇪 독일</td>
					<td>227</td>
				</tr>
				<tr>
					<td>🇬🇧 영국</td>
					<td>227</td>
				</tr>
				<tr>
					<td>🇪🇸 스페인</td>
					<td>228</td>
				</tr>
				<tr>
					<td>🇸🇬 싱가폴</td>
					<td>228</td>
				</tr>
				<tr>
					<td>🇦🇺 호주</td>
					<td>229</td>
				</tr>
				<tr>
					<td>🇵🇱 폴란드</td>
					<td>229</td>
				</tr>
				<tr>
					<td>🇫🇷 프랑스</td>
					<td>229</td>
				</tr>
				<tr>
					<td>🇧🇷 브라질</td>
					<td>229</td>
				</tr>
				<tr>
					<td>🇹🇷 튀르키예</td>
					<td>229</td>
				</tr>
				<tr>
					<td>🇫🇮 핀란드</td>
					<td>230</td>
				</tr>
				<tr>
					<td>🇲🇽 멕시코</td>
					<td>230</td>
				</tr>
				<tr>
					<td>🇨🇭 스위스</td>
					<td>230</td>
				</tr>
				<tr>
					<td>🇨🇦 캐나다</td>
					<td>230</td>
				</tr>
				<tr>
					<td>🇷🇺 러시아</td>
					<td>230</td>
				</tr>
				<tr>
					<td>🇳🇴 노르웨이</td>
					<td>234</td>
				</tr>
				<tr>
					<td>🇮🇪 아일랜드</td>
					<td>234</td>
				</tr>
				<tr>
					<td>🇩🇰 덴마크</td>
					<td>234</td>
				</tr>
				<tr>
					<td>🇺🇦 우크라이나</td>
					<td>234</td>
				</tr>
				<tr>
					<td>🇨🇱 칠레</td>
					<td>237</td>
				</tr>
				<tr>
					<td>🇮🇹 이탈리아</td>
					<td>237</td>
				</tr>
				<tr>
					<td>🇮🇱 이스라엘</td>
					<td>237</td>
				</tr>
				<tr>
					<td>🇯🇵 일본</td>
					<td>237</td>
				</tr>
				<tr>
					<td>🇸🇪 스웨덴</td>
					<td>237</td>
				</tr>
				<tr>
					<td>🇧🇪 벨기에</td>
					<td>237</td>
				</tr>
				<tr>
					<td>🇦🇪 아랍에미리트</td>
					<td>237</td>
				</tr>
				<tr>
					<td>🇵🇹 포르투갈</td>
					<td>239</td>
				</tr>
				<tr>
					<td>🇹🇭 태국</td>
					<td>242</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
window.addEventListener('load', function() {
    let goimages = document.querySelector('.goimages');
    goimages.classList.add('show');
});
</script>
	<footer class="footer">
		<p>&copy; 2023 프로젝트. All rights reserved.</p>
	</footer>
</body>
</html>
